.project-info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border:2px solid #55759c;
    border-radius: 8px;
    width:90%;
    min-height:50vh;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    padding:0.6em;
    color:var(--prim-border-color);
}
.project-info p{
    color:var(--prim-border-color);
  }