.proj-container{
  display:flex;
  flex-direction: column;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  /* border:1px solid #55759c; */
  box-shadow: 0 0 3px #55759c;
  min-height:80vh;
  margin-top: auto;
  margin-bottom: auto;
  /* border-radius: 4px; */
  background-color: #1d2c3f;
}

.proj-heading{
  
  width:100%;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.proj-heading h1{
text-align:center;
}

.proj-heading p{
  font-size:1.1em;
  }
.proj-panel{
  /* border:2px solid #55759c; */
  width:90%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.project-mod-intro{
    display:flex;
    flex-direction: column;
    min-height:60vh;
    margin-top: 1%;
    margin-bottom: 2%;
    padding:0.6em;
    color:var(--prim-border-color);
    flex-wrap: wrap;
    width:30%;
    background-color: var(--sidenav-bg-primary);
      /* box-shadow:0 0 3px #55759c; */
      transition:all 0.3s ease;

  }

  .project-mod-intro:hover{
    cursor:pointer;
    box-shadow: 0 0 3px #55759c;
    border: 0 ;
   
  }

 

  .projects-info{

        margin-top:5%;
  }
  .projects-info a{
   
    color: var(--prim-color)
  

}
  .project-social{
    width:10%;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
  }

  .proj-bttn{
    
     width:100%;
     margin-top: auto;
     align-self:center;
  }
  .proj-bttn a{
    text-decoration: none;
   
 }


  .proj-bttn button{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:8vh;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    border:2px solid #008751;
    color:#00b625;
    color:#ffffff;
    font-size:0.9em;
    background-color: #1d2c3f;
    transition:all 0.3s ease;
    text-decoration: none;
    margin-top:2%;
    margin-bottom:2%;
    transition:all 0.3s ease;

  }
  .proj-bttn button:hover{
    cursor:pointer;
   text-decoration: underline;
  

  }
  .contact-bttn-icon{
    
    width: 1.5em;
    height:1.5em;
    margin-left: -25%;
    margin-top:20%;
    color:#ffffff;

  }
  .contact-bttn-text{
    border:1px solid black;
    width:100%;
    width: 1.5em;
    height:1.5em;

  }

  @media only screen and (max-width:600px){
    .proj-container{
      
      width:90%;
      margin-top:5%;
      margin-bottom:5%;
      border-radius:0;
     
    }
    
    .project-mod-intro{
      margin-left: auto;
      margin-right: auto;
      width:90%;
     
    }

    .proj-panel{
      flex-direction: column; 
    }
      
  }