/* style for loader starts here */
.loader-container{
  width:80%;
  min-height:20vh;
  margin-left:auto;
  margin-right:auto;
  display:flex;              
  align-self: center;              
  border:0;
  justify-content: center;
  background-color: var(--sidenav-bg-primary);  
}

.loader {
    margin-top:10%;                  
  border: 5px solid var(--sidenav-bg-primary);
  border-radius: 50%;
  border-top: 5px solid var( --prim-color);
  border-bottom: 5px solid var( --prim-color);
  width:1.8rem;
  height: 1.8rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* loader 2 styles begin here */
.loaders-container {
  min-height:20vh;
  padding: 20px;
  margin: 0 auto;
  width:80%;
  min-height:20vh;
  text-align: center;
  font-size: 0;
}

.loaders-container .container {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 30px;
  width: 25%;
  height: 140px;
}
  
.circleloader {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  margin-top: -10px;
  border-radius: 16px;
  width: 80px;
  height: 20px;
  padding: 4px;
  background: rgba(255, 255, 255, 0.4); 
}
.circleloader:before {
    content: '';
    position: absolute;
    border-radius: 16px;
    width: 20px;
    height: 12px;
    left: 0;
    background: #FFF;
    animation: push 1s infinite linear;    
  }
  @keyframes push {
  50% {
    left: 56px;
  }
}

/* skeleton loader  */
.skel-loader-container{
  width:100%;
  min-height:100vh;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  flex-direction: column;                          
  border:0;
  justify-content: center;
  background-color: var(--sidenav-bg-primary); 
}

.skel-loader {           
  border: 5px solid var(--sidenav-bg-primary);
  border-radius: 50%;
  border-top: 5px solid var( --prim-color);
  border-bottom: 5px solid var( --prim-color);
  width:1.8rem;
  height: 1.8rem;
  margin-left:auto;
  margin-right:auto;
  -webkit-animation: skel-spin 2s linear infinite;
  animation: skel-spin 2s linear infinite;
}

@-webkit-keyframes skel-spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes skel-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* style for loader ends here */

  @media  only screen and (max-width:600px){
   .skel-loader {         
    margin-top:-40%;
  }   
}