.pic-mod-social-nav{
    display:flex;
    flex-direction:column;
    position: fixed;
    bottom:40%;
    align-self: center;  
    background-color: var(--sidenav-bg-primary);
    /* border-bottom:1px solid var(--sec-border-color);
    border-right:1px solid var(--sec-border-color);
    border-left:1px solid  var(--sec-border-color); */
    margin-right:30px;
    word-wrap: break-word;
    word-break: break-all;
    word-break: keep-all;
    text-align: center;
    z-index:2;
    background-color: #1d2c3f;
    box-shadow: 0 0 1px  #55759c;
}

.pic-mod-social-nav a{ 
    color:var( --prim-color);   
    padding: 9px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.pic-mod-social-nav a:hover{
    color:#ffffff;
}

.pic-mod-nav-item{
    /* border-top:1px solid var(--sec-border-color); */
    box-shadow: 0 0 1.5px  #55759c;
  
    display: flex;
}
 

.pic-mod-nav-item:nth-last-child(2){
    border-bottom: none;    
}

@media only screen and (max-width:600px){
    .pic-mod-social-nav{ 
        display: none;    
    }
   
}
