




.pic-mod-clock{
    display:flex;
    justify-content: center;
    width:30%;
    min-height: 25vh;
    margin-left: auto;
    margin-right: auto;
     position: fixed;
     /* top:66%; */
     align-self: center;
     /* border:2px solid #55759c; */
    
}



.clock {
    border-radius: 50%;
    background: url(../../images/icon.svg) no-repeat center;
    background-size: 100%;
    height:30vh;
    /* padding-bottom: 40%; */
    width: 50%;
    border:4px solid var(--sidenav-bg-primary);
    box-shadow: 0 -15px 15px rgba(85,117,156,0.1),
    inset 0 -15px 15px rgba(85,117,156,0.2),
    inset 0 15px 15px rgba(0,0,0,0.1),
    inset 0 15px 15px rgba(0,0,0,0.1),
    inset 0 15px 15px rgba(0,0,0,0.1);
  }
  
  .clock:after {
    background: #55759c;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3%;
    height: 5%;
    z-index: 10;
  }

  .minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .hours {
    background: #55759c;
    height: 20%;
    left: 48.85%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 1.2%;
  }
  .minutes {
    background: #55759c;
    height: 30%;
    left: 50%;
    position: absolute;
    top: 20%;
    transform-origin: 50% 100%;
    width: 1.2%;
  }
  .seconds {
    background: #55759c;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 0.5%;
    z-index: 8;
  }
  @keyframes rotate {
    100% {
      transform: rotateZ(360deg);
    }
  }
  .hours-container {
    animation: rotate 43200s infinite linear;
  }
  .minutes-container {
    animation: rotate 3600s infinite linear;
  }
  .seconds-container {
    animation: rotate 60s infinite linear;
  }

  .minutes-container {
    animation: rotate 3600s infinite steps(60);
  }
  .seconds-container {
    animation: rotate 60s infinite steps(60);
  }