.footer{
     display:flex;
     flex-direction: column;
    justify-content: center;
    min-height: 20vh;
    margin-left:6rem;
    /* border:1px solid black;  */
    background-color: var(--sidenav-bg-primary);    
}

.footer-legal{
    margin:1%;
    display:flex;
    flex-direction:row;
    justify-content: center; 
    border-bottom:1px solid #55759c;
    border-top:1px solid #55759c;  
    width:80%;
    margin-right:auto;
    margin-left:auto; 
    color: rgb(218, 152, 218);
}

.footer-legal-list {
    display:flex;
    justify-content: center;
      flex-wrap:wrap;
     /* border:1px solid black;  */
     padding:1%;    
     width: 46%;   
}

.footer-legal-list a{
    color: var(--prim-border-color);
    text-decoration: none;
}

.footer-social{
    
    display:none;
}

.footer-social-nav{
    display:flex;
    flex-direction:row;
    position: fixed;
    bottom:1%;
    align-self: center;
    justify-content: center;
    margin-top:2%;
}

.footer-social-nav a{
    word-wrap: break-word;
    color:#55759c;
    color:var( --prim-color);
    padding: 8px;
    text-decoration: none;
    font-weight:bold; 
    transition: all 0.3s ease;
}

.footer-social-nav a:hover{
    color:#ffffff;
}

.footer-nav-item{  
    display: flex;
    justify-content: space-around;  
}

.footer-nav-item:nth-last-child(1){
    border-right: none;   
}

.footer-nav-icon{
    width: 1.4em;
    height:1.4em;   
  }


@media  only screen and (max-width:600px){
.footer{  

    margin-left:0;
   
    border-top:1px solid #55759c;     
   }
.footer-social{         
    display:flex;
    justify-content: center;
   
}

.footer-legal{  
    flex-direction:column;
    border-bottom:none;
    border-top:none;  
}
.footer-legal-list {   
    justify-content: center;
     /* border:1px solid black;  */
     width: 100%;      
}
        
}
@media  only screen and (min-width:600px){
    
   
}